#landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;
  background: no-repeat url(../../images/background.webp);
  background-size: cover;
  
}

#landing-content {
  max-width: 1300px;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 2fr 2fr 1fr;
  column-gap: 3em;
  grid-template-areas:
  "logo logo img"
  "buttons buttons img"
  ;
}

.logo{
  height: 12em;
  margin-bottom: 3.2em;
  margin-right: 2em;
  grid-area: logo;
}

.landing-image {
  width: 29em;
  grid-area: img;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
  grid-area: buttons;
}

.buttons-container button {
  width: 25rem;
  height: 9rem;
  border-radius: 0.8rem;
  font: 700 2.0rem Roboto;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #FFFFFF;

  cursor: pointer;

  transition: background-color 0.2s;
}

.buttons-container button:first-child {
  margin-right: 1.6rem;
}

.buttons-container button.to-login {
  background:#9871F5
}

.buttons-container button.to-products {
  background:  #04D361;
}

.buttons-container button.to-login:hover {
  background: #916BEA
}

.buttons-container button.to-products:hover {
  background: #04BF58;
}

@media (max-width: 1370px) {
  #landing-content {
    display: grid;
    width: 100vw;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr;
    grid-template-areas:
    "logo"
    "buttons"
    ;
  }

  .landing-image {
    display: none;
  }
}